body {
  font-family: Arial, sans-serif;
}

.videos video {
  width: 180px;
  border: 1px solid #000;
  margin: 5px;
}

#chat {
  border: 1px solid #ccc;
  height: 200px;
  overflow-y: auto;
  margin-top: 10px;
  padding: 5px;
}